---
import SEO from "../components/SEO.astro";
const { title } = Astro.props;
import "../styles/global.css";

---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{title}</title>

    <script
      data-goatcounter="https://juaneto8.goatcounter.com/count"
      async src="//gc.zgo.at/count.js">
    </script>


    <SEO 
      title={title}
      description="Infraestructura HFT, C++, FIX, baja latencia"
      ogImage={`/og/${encodeURIComponent(title)}.png`}
    />


    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  </head>


  <script src="/scripts/copy-code.js" defer></script>
  <body>
    <!-- HEADER / NAV -->
    <header>
      <div class="logo">
        <svg width="35" height="35" viewBox="0 0 32 32" fill="none"
          stroke="var(--accent)" stroke-width="2.1" stroke-linecap="round"
          stroke-linejoin="round">

          <!-- Señal oscilatoria -->
          <path d="M2 18 C5 10, 9 10, 12 18 S19 26, 22 18 S27 10, 30 18"
                stroke-opacity="0.65"/>

          <!-- Punto de muestreo -->
          <circle cx="16" cy="18" r="2.3" fill="var(--accent)" stroke="none"/>
        </svg>


      <a href="/" style="all: unset; cursor: pointer;">Juan Cruz Miranda</a>


      </div>

      <nav>
        <a href="/" class={Astro.url.pathname === "/" ? "active" : ""}>Inicio</a>
        <a href="/posts/" class={Astro.url.pathname.startsWith("/posts") ? "active" : ""}>Posts</a>
        <a href="/contacto/" class={Astro.url.pathname.startsWith("/contacto") ? "active" : ""}>Contacto</a>
      </nav>

      <div id="netstats"></div>
    </header>


    <!-- PAGE CONTENT -->
    <main>
      <slot />
    </main>

    <div id="fixTicker">
      <span>
        8=FIXT.1.1 35=W 55=AL30 44=123.4500 | 
        8=FIXT.1.1 35=8 39=2 ExecType=Filled 151=0 14=80 | 
        8=FIXT.1.1 35=X MarketDataIncrementalRefresh 268=2 269=0 44=123.5000 269=1 44=123.6000 | 
        8=FIXT.1.1 35=3 58=ThrottleExceeded CancelRejected | 
        8=FIXT.1.1 35=W 55=GGAL 44=654.1000 268=3 269=0 269=1 269=2 |
        8=FIXT.1.1 35=8 150=F Canceled ClOrdID=847201 Seq=409
      </span>
    </div>

    <footer>
    © {new Date().getFullYear()} • Juan Cruz Miranda • Desarrollador de Sistemas de Alto Rendimiento
    <br />
    <a href="https://github.com/juanmir227" target="_blank">GitHub</a> •
    <a href="https://www.linkedin.com/in/juancruzmiranda" target="_blank">LinkedIn</a>
    </footer>
    <script>
      const perfNodes = document.querySelectorAll("[data-perf]");
      const io = new IntersectionObserver(entries => {
        entries.forEach(e => {
          if (e.isIntersecting) e.target.classList.add("active");
        });
      }, { threshold: 0.4 });

      perfNodes.forEach(n => io.observe(n));
    </script>
  </body>
</html>
